.products {
    margin-top: 50px;
}

.product {
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
    max-width: 225px;
    max-height: 510px;

    &:hover {
        border: 2px solid yellowgreen;
        border-radius: 7px;
        transition: border 0.1s ease-in;
    }

    @include mediaTablet {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.apartaments-cards-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    @include mediaTablet {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

.img-product {
    max-height: 300px;
    object-fit: cover;
    border-radius: 7px;
}

.info-product {
    padding: 5px;
    padding-bottom: 40px;
}

.info-product .title-3 {
    @include mediaTablet {
        font-size: 18px;
    }
}

.info-price {
    display: flex;
    padding-left: 5px;
    margin-top: 10px;
    justify-content: space-between;
    background-color: #d2d0d0;
    border-radius: 7px;
    align-items: center;

    &:hover {
        z-index: 5;
    }
}

.quantity {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: 700;
    font-size: 18px;

    @include mediaTablet {
        font-size: 16px;
    }
}

.quantity-container {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 15px;

    & button {
        background-color: #d2d0d0;
        padding: 2px 10px;
        border-radius: 1px;

        &:hover {
            background-color: #b5b4b4;
            transition: background-color 0.2s linear;
        }
    }
}

.quantity-container input {
    width: 75%;
    text-align: center;
    border: 1px solid #d2d0d0;
}

.add-to-cart {
    border: none;
    border-radius: 7px;
    width: 40px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8bc34a;

    &:hover {
        color: $white;
        width: 100px;
        border-radius: 10px;
        transition: all 0.2s ease-in;
    }
}

.title-name {
    @include mediaTablet {
        font-size: 28px;
    }
}

.nav-product {
    display: block;

    .nav__list {
        @include mediaTablet {
            column-gap: 20px;
        }
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield; /* Удаляем в Firefox */
}
