//fonts
$font-raleway: 'Raleway', sans-serif;
$font-roboto: 'Roboto', sans-serif;

//colors
$dark: #2b2828;
$white: #f5ebeb;
$purple: rgba(223, 92, 203, 0.769);
$footer-bg: #2D343C;
$warning: #fff30e;

//media
$tablet: 959px;